In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import urllib2
from pylab import rcParams
rcParams['figure.figsize'] = 15, 10

In [2]:
import sys
import platform
import matplotlib
print("Operating System " + platform.system() + " " + platform.release())
print("Python Version " + str(sys.version))
print("Pandas Version " + str(pd.__version__))
print("Numpy Version " + str(np.__version__))
print("Matplotlib Version " + str(matplotlib.__version__))

Operating System Windows 7
Python Version 2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)]
Pandas Version 0.17.1
Numpy Version 1.10.4
Matplotlib Version 1.5.1

In [5]:
paramcodeURL = "http://nwis.waterdata.usgs.gov/nwis/pmcodes?radio_pm_search=param_group&pm_group=All+--+include+all+parameter+groups&pm_search=&casrn_search=&srsname_search=&format=rdb&show=parameter_group_nm&show=parameter_nm&show=casrn&show=srsname&show=parameter_units"

In [21]:
NWISParam = pd.read_table(paramcodeURL,comment='#')

In [22]:
NWISParam = NWISParam.loc[1:]

In [23]:
NWISParam

,parameter_cd,parameter_group_nm,parameter_nm,casrn,srsname,parameter_units
1,00001,Information,"Location in cross section, distance from right...",NaN,NaN,ft
2,00002,Information,"Location in cross section, distance from right...",NaN,NaN,%
3,00003,Information,"Sampling depth, feet",NaN,NaN,ft
4,00005,Information,"Location in cross section, fraction of total d...",NaN,NaN,%
5,00008,Information,Sample accounting number,NaN,NaN,nu
6,00009,Information,"Location in cross section, distance from left ...",NaN,NaN,ft
7,00022,Information,"Duration of exposure, sample or test, days",NaN,NaN,days
8,00023,Information,"Sample weight, pounds",NaN,NaN,lb
9,00024,Information,"Sample length, inches",NaN,NaN,in
10,00028,Information,"Agency analyzing sample, code",NaN,NaN,code
11,00029,Information,Project number,NaN,NaN,nu
12,00041,Information,"Weather, World Meteorological Organization code",NaN,NaN,WMO code
13,00042,Information,"Altitude, feet above mean sea level",NaN,Altitude,ft abv MSL
14,00054,Information,"Reservoir storage, acre feet",NaN,Reservoir storage,ac-ft
15,00063,Information,"Number of sampling points, count",NaN,NaN,count
16,00098,Information,"Sampling depth, meters",NaN,NaN,m
17,00100,Information,"Time of travel, hours",NaN,NaN,hours
18,00115,Information,"Sample treatment, code",NaN,NaN,code
19,00132,Information,"Dry days before precipitation event, days",NaN,Dry period preceding precipitation,days
20,00134,Information,Storm event serial number,NaN,NaN,nu
21,00135,Information,"Elapsed time of storm, hours",NaN,NaN,hours
22,00206,Information,"Collector area, wet deposition, square meters",NaN,NaN,m2
23,00207,Information,"Collector area, dry deposition, square meters",NaN,NaN,m2
24,04117,Information,Tether line used for collecting sample (yes=1)...,NaN,NaN,code
25,04118,Information,Composited samples in cross-sectional bedload ...,NaN,NaN,nu
26,04119,Information,"Verticals in composite sample, number",NaN,NaN,nu
27,04120,Information,"Rest time on bed for bed load sample, seconds",NaN,NaN,seconds
28,04121,Information,"Horizontal width of vertical, feet",NaN,NaN,ft
29,30215,Information,"Signal, sediment, Markland meter, count",NaN,NaN,count
30,30216,Information,"Voltage, hazard trip switch, volts",NaN,NaN,volts
...,...,...,...,...,...,...
16391,80230,Sediment,"Bedload sediment, sieve diameter, percent smal...",NaN,Sediment,%
16392,80231,Sediment,"Bedload sediment, sieve diameter, percent smal...",NaN,Sediment,%
16393,80232,Sediment,"Bedload sediment, sieve diameter, percent smal...",NaN,Sediment,%
16394,80233,Sediment,"Bedload sediment, sieve diameter, percent smal...",NaN,Sediment,%
16395,80234,Sediment,"Bedload sediment, sieve diameter, percent smal...",NaN,Sediment,%
16396,80235,Sediment,"Bedload sediment, sieve diameter, percent smal...",NaN,Sediment,%
16397,80236,Sediment,"Bedload sediment, sieve diameter, percent smal...",NaN,Sediment,%
16398,80237,Sediment,"Bedload sediment, sieve diameter, percent smal...",NaN,Sediment,%
16399,80238,Sediment,"Bedload sediment, sieve diameter, percent smal...",NaN,Sediment,%
16400,80239,Sediment,"Bed sediment, sieve diameter, percent smaller ...",NaN,Sediment,%
16401,80240,Sediment,"Bed sediment, dry sieved, sieve diameter, perc...",NaN,Sediment,%
16402,80282,Sediment,"Bed sediment, fall diameter (deionized water),...",NaN,Sediment,%
16403,80283,Sediment,"Bed sediment, fall diameter (deionized water),...",NaN,Sediment,%
16404,80284,Sediment,"Bed sediment, fall diameter (deionized water),...",NaN,Sediment,%
16405,80285,Sediment,"Bed sediment, fall diameter (deionized water),...",NaN,Sediment,%
16406,80286,Sediment,"Bed sediment, fall diameter (deionized water),...",NaN,Sediment,%
16407,80287,Sediment,"Total sediment, fall diameter (deionized water...",NaN,Sediment,%
16408,80288,Sediment,"Total sediment, fall diameter (deionized water...",NaN,Sediment,%
16409,80289,Sediment,"Total sediment, fall diameter (deionized water...",NaN,Sediment,%
16410,80290,Sediment,"Total sediment, fall diameter (native water), ...",NaN,Sediment,%
16411,80291,Sediment,"Total sediment, fall diameter (native water), ...",NaN,Sediment,%
16412,80292,Sediment,"Total sediment, fall diameter (native water), ...",NaN,Sediment,%
16413,80293,Sediment,"Bed sediment, fall diameter (deionized water),...",NaN,Sediment,%
16414,80294,Sediment,"Bed sediment, fall diameter (deionized water),...",NaN,Sediment,%
16415,80295,Sediment,"Suspended sediment load, water, unfiltered, es...",NaN,NaN,lb/s
16416,80296,Sediment,"Suspended sediment load, water, unfiltered, es...",NaN,NaN,tons/s
16417,80297,Sediment,"Suspended sediment load, water, unfiltered, co...",NaN,NaN,tons/day
16418,80298,Sediment,"Suspended sediment load, water, unfiltered, re...",NaN,NaN,tons/day
16419,91145,Sediment,"Bedload sediment, total sample mass, dry weigh...",NaN,NaN,g
16420,99409,Sediment,"Suspended sediment concentration, water, unfil...",NaN,Sediment,mg/l

In [61]:
def parMedia(x):
    '''
    parses sample media based on parameter description
    
    http://waterqualitydata.us/portal_userguide/#WQPUserGuide-Table2
    '''
    if ', water, ' in x:
        media = 'water'
    elif ' soil, ' in x:
        media = 'soil'
    elif ', solids' in x:
        media = 'soil'
    elif ', rock, ' in x:
        media = 'rock'
    elif ', biota, ' in x:
        media = 'biota'
    elif 'atmospheric deposition, ' in x:
        media = 'air'
    elif ', bed sediment' in x:
        media = 'bed sediment'
    elif ', suspended sediment' in x:
        media = 'suspended sediment'
    elif ', air, ' in x:
        media = 'air'
    else:
        media = ''
    return media
        
def parSampFrac(x):
    '''
    parses sample fraction based on parameter description
    '''
    if ', dissolved,' in x:
        sampfrac = 'dissolved' 
    elif ', filtered' in x:
        sampfrac = 'filtered'
    elif ', unfiltered' in x:
        sampfrac = 'unfiltered'
    else:
        sampfrac = ''
    return sampfrac

def fieldCol(x):
    if ', field, ' in x:
        fieldCol = 'field'
    elif ', lab, ' in x:
        fieldCol = 'lab'
    else:
        fieldCol = ''
    return fieldCol

def getLast(x):
    return str(x).split(", ")[-1]

def getAsUnits(x):
    g = x.split("as ")
    if len(g) > 1:
        return g[-1]

In [89]:
NWISParam['media'] = NWISParam['parameter_nm'].apply(lambda x: parMedia(x), 1) # defines sample media based on parameter description 
NWISParam['sampfrac'] = NWISParam['parameter_nm'].apply(lambda x: parSampFrac(x), 1) # defines sample fraction based on parameter description
NWISParam['fieldCol'] = NWISParam['parameter_nm'].apply(lambda x: fieldCol(x),1)
NWISParam['units'] = NWISParam['parameter_nm'].apply(lambda x: getLast(x), 1)
NWISParam['asUnits'] = NWISParam['units'].apply(lambda x: getAsUnits(x), 1)
NWISParam['lwrSRS'] = NWISParam['srsname'].apply(lambda x: str(x).lower(), 1)

In [90]:
NWISParamWater = NWISParam[(NWISParam['media']=='water')|(NWISParam['media']=='')]

In [121]:
NWISParamWater[NWISParamWater['lwrSRS']=='temperature']['parameter_group_nm'].values[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [70]:
NWISParamWater[NWISParamWater['parameter_cd']=='00931']

,parameter_cd,parameter_group_nm,parameter_nm,casrn,srsname,parameter_units,media,sampfrac,units,asUnits,fieldCol
1965,00931,"Inorganics, Major, Metals","Sodium adsorption ratio (SAR), water, number",NaN,Sodium adsorption ratio,None,water,,number,None,

In [73]:
DBParamFile = "E:/GitHub/ParamGroup/DB_Params.csv"

In [74]:
DBParam = pd.read_csv(DBParamFile)

In [76]:
DBParam.dropna(subset=['Param'],inplace=True)

In [78]:
DBParam.drop_duplicates(subset=['Param'],inplace=True)

In [116]:
def getCAS(x, NWISParamWater):
    try:
        return NWISParamWater[NWISParamWater['lwrSRS']==str(x).lower()]['casrn'].values[0]
    except:
        try:
            return NWISParamWater[NWISParamWater['lwrSRS']==str(x).lower().split(' (')[0]]['casrn'].values[0]
        except:
            try:
                return NWISParamWater[NWISParamWater['lwrSRS']==str(x).lower().split(', ')[0]]['casrn'].values[0]
            except:
                return np.nan
def getPG(x, NWISParamWater):
    try:
        return NWISParamWater[NWISParamWater['lwrSRS']==str(x).lower()]['parameter_group_nm'].values[0]
    except:
        try:
            return NWISParamWater[NWISParamWater['lwrSRS']==str(x).lower().split(' (')[0]]['parameter_group_nm'].values[0]
        except:
            try:
                return NWISParamWater[NWISParamWater['lwrSRS']==str(x).lower().split(', ')[0]]['parameter_group_nm'].values[0]
            except:
                return np.nan

In [117]:
DBParam['CAS_Reg'] = DBParam['Param'].apply(lambda x: getCAS(x, NWISParamWater),1)
DBParam['ParamGroup'] = DBParam['Param'].apply(lambda x: getPG(x, NWISParamWater),1)

In [122]:
DBParam.to_clipboard()